
.logo{
    display: block;
    margin: 1% auto 0 auto;
    width: 14%;
    min-width: 145px;
}

#fondo{
    background-color: white;
    width: 100%;
    padding-bottom: 2%;
}

#contenedorlog{
    width: 35%;
    border: 4px solid #000000;
    border-radius: 30px 30px 30px 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.selectores{
    padding: 3% 0;
    width: 50%;
    display: inline-block;
    text-align: center;
}

form{
    padding-top: 1%;
    width: 80%;
    display:block;
    margin: 0 auto;
}

a label:hover{
    cursor: pointer;
}

a{
    text-decoration: none !important;
}

.modal-dialog{
    width: 70% !important;
}
