.contenido {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
}

#tablas{
  width:
}

table{
  display: table-cell;

}

#tablatotal {
  width: 30%;
  /* margin-top:1%;
  margin-right: 0;
  margin-left: auto;  */
  text-align: right;
  padding-bottom: 2%;
}

#tablatotal img {
  width: 100%;
}




