<app-encabezado></app-encabezado>

<div class="contenido">
  <h3 style="margin-bottom:3%;">Carrito</h3>
  <div class="tablas">
    <div id="tablaitems">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Plato</th>
            <th scope="col">Extras</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio (Bs.S)</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plato of platos, index as i">
            <th scope="row">{{i+1}}</th>
            <td *ngIf="plato.tipo == 'Postre' "><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">cake</i></td>
            <td *ngIf="plato.tipo == 'Entrada' "><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">local_dining</i></td>
            <td *ngIf="plato.tipo == 'Principal' "><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">fastfood</i></td>
            <td>{{plato.nombre}}</td>
            <td *ngIf="strExtrasEnPlato(plato) == ' '"> N/A</td>
            <td *ngIf="strExtrasEnPlato(plato) != ' '">{{strExtrasEnPlato(plato)}}</td>
            <td>{{plato.cantidad}}</td>
            <td>{{subtotalPlato(plato)}}</td>
            <td><button type="button" class="close" aria-label="Close" (click)="eliminarPlato.show(); mandaPlatoAEliminar(plato);"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
          </tr>
        </tbody>
      </table>
    </div>


    <div id="tablatotal">
      <table class="table table-striped table-dark" style="margin-bottom: 0px;">
        <tbody>
          <tr>
            <td style="font-weight:bold;">Subtotal</td>
            <td>Bs.S {{subtotalCarrito()}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold;">IVA</td>
            <td>Bs.S {{iva()}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Total</td>
            <td>Bs.S {{precioTotalCarrito()}}</td>
          </tr>
        </tbody>
      </table>
      <div id="thapaypal" (click)="crearPedido()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/botonPayPal.png?alt=media&token=4bbe2ac9-90bc-46a5-8df9-036eba9f323e"></div>
    
    </div>
  </div>
  
  <a [routerLink]="['/menu']"><button type="submit" class="btn btn-dark" style="display: block; margin-left:0; margin-right: auto;">Regresar</button></a>

</div>
  <!-- Modal eliminar del carrito -->
  <div bsModal #eliminarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog" style="width: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Eliminar {{platoeliminar.nombre}}</h4>
          <button type="button" class="close pull-right" (click)="eliminarPlato.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row align-items-start">
            <div class="col">
              <div class="descripcion">
                <h5 style="display:inline-block; margin-right: 2%;">¿Desea eliminar este plato del carrito?</h5>
              </div>
              <div id="alerta">
                <i class="material-icons md-48">alert</i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
            (click)="eliminarPlato.hide()">
            Cancelar
          </button>
          <button type="submit" class="btn btn-danger" (click)="eliminarPlato.hide(); borrarDelCarrito($event, platoeliminar)"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
              Confirmar
            </button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal compra realizada -->
    <div bsModal #compraRealizada="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">¡Pedido realizado!</h4>
            <button type="button" class="close pull-right" (click)="compraRealizada.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row align-items-start">
              <div class="col">
                <div class="descripcion">
                  <h5 style="display:inline-block; margin-right: 2%;">El pago del pedido se ha realizado exitosamente</h5>
                    <label> 
                      Su número de pedido es: <strong>{{nuevoPedido.numorden}}</strong>
                    </label>
                  <img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/estado%2Fpago-aceptado.png?alt=media&token=88bba0b6-bdb0-4549-9591-d9e49dc9496b" style="width:50%; height:auto; display:block; margin: 0 auto;">
                </div>
              </div>
            </div>
          </div>
    
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" (click)="compraRealizada.hide();"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
                Confirmar
              </button>
          </div>
        </div>
      </div>
    </div>





  <!--REVISAR <div class="botonPayPal">

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <div id="paypal-button-container"></div>

    <script>
      // Render the PayPal button

      paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
          label: 'checkout',
          size: 'small', // small | medium | large | responsive
          shape: 'pill', // pill | rect
          color: 'gold' // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
          sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          return actions.payment.create({
            payment: {
              transactions: [{
                amount: {
                  total: '0.01',
                  currency: 'USD'
                }
              }]
            }
          });
        },

        onAuthorize: function (data, actions) {
          return actions.payment.execute().then(function () {
            window.alert('Payment Complete!');
          });
        }

      }, '#paypal-button-container');

    </script>

  </div> -->


  <!-- <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Subtotal</th>
        <th scope="col">IVA</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bs.S 2700</td>
        <td>Bs.S 432</td>
        <td style="font-weight:bold">Bs.S 3132</td>
      </tr>
    </tbody>
  </table> -->









<app-piedepagina></app-piedepagina>
