.contenido {
  width: 70%;
  margin: 2% auto;
}

#tablas{
  width: 100%;
}

#tablaitems{
  width: 60%;
  display: inline-block;
}

#tablatotal {
  margin-left: 5%;
  width: 30%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

#tablatotal img {
  width: 100%;
}

#tablatotal img:hover {
  opacity: 0.98;
  cursor: pointer;
  
}

#thapaypal{
  background-color: black;
  border-radius: 8px 8px 8px 8px;
}

#tablaitems table td, #tablaitems table th,   #tablaitems table tr td,  #tablaitems table tr th {
  vertical-align: middle !important;
} 



