#header{
    width: 100%;
    background-color: rgb(220, 53, 69);
}

#hizq, #hder{
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 0.05% 2% 0.05% 2%;
}

#hizq{
    text-align: left;
}

#hizq img{
    width: 15%;
}

#hder{
    text-align: right;
}

.btn-group{
    width: 40%;
    text-align: right;
}

.btn-group button{
    display: inline-block;
    padding:5%
}

#botonname{
    min-width: 85%;
    font-size: 2vw;
}

#botonname:focus{
    box-shadow: none !important;
}

#button-split{
    min-width: 15%;
    font-size: 1.5vw;
}

#button-split:focus{
    box-shadow: none !important;
    
}

#dropdown-split{
    width: 100%;
    background: rgba(255, 255, 255,0.7);
}

#dropdown-split:hover{
    width: 100%;
    background: rgba(255, 255, 255,0.7);
}

.dropdown-item:hover{
    background: rgba(247, 84, 84, 0.5) ;
}
