<app-encabezado></app-encabezado>

<div id="menuprincipal">
  <div class="headerplato">
    <p>Entradas</p>
  </div>
  <div class="contenedorplato">
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/entradas%2Ftequenos.png?alt=media&token=91a5d723-c2ba-4f81-afe8-c713688e703b"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/entradas%2Fplatanos.png?alt=media&token=1ee76219-b959-4792-a75f-63a53be1f95b"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/entradas%2Fempanada.png?alt=media&token=af0d8079-d9b4-481f-9eab-3f2e33459285"></a></div>
  </div>
  <div class="headerplato">
    <p>Platos principales</p>
  </div>
  <div class="contenedorplato">
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/principales%2Fhamburguesa.png?alt=media&token=73b80165-3cfb-4aef-8646-b07ad460de74"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/principales%2Fhotdog2.png?alt=media&token=5c03a15b-6deb-4df2-8015-c0e30a3e8833"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/principales%2Fsandwich.png?alt=media&token=6051da5e-e5f6-42a9-b9be-23044da75521"></a></div>
  </div>
  <div class="headerplato">
    <p>Postres</p>
  </div>
  <div class="contenedorplato">
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/postres%2Fflan.png?alt=media&token=7572b8dc-ec5f-4502-89a3-c99d875afaed"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/postres%2Fprofiterol.png?alt=media&token=79ad6100-a14c-409b-bd36-9d62f9dd6038"></a></div>
    <div class="plato"><a (click)="verPlato.show()"><img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/postres%2Ftresleches.png?alt=media&token=356dcf2f-cb69-4f1a-ae93-a5bd61efff52"></a></div>
  </div>
</div>

<!-- Modal de ver plato al hacer click en la imagen -->
<div bsModal #verPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Platos Principales</h4>
        <button type="button" class="close pull-right" (click)="verPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/plato2.png?alt=media&token=3b1e37ab-b454-47ad-af29-e030aa44ae85">
            </div>
          </div>
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">Nombre</h5>
              <label>Hamburguesa</label>
              <h5>Descripción</h5>
              <label style="text-align:justify"> Nuestra deliciosa hamburguesa con carne, queso fundido,
                vegetales frescos y pan producido por uMakeIT!.
              </label>
              <h5>Extras:</h5>
              <ul>
                <div class="checkbox"><input type="checkbox" ><label>&nbsp; Pan c/ parmesano y orégano</label></div>
                <div class="checkbox"><input type="checkbox" ><label>&nbsp; Jalapeño</label></div>
                <div class="checkbox"><input type="checkbox" ><label>&nbsp; Salsa BBQ</label></div>
                <div class="checkbox"><input type="checkbox" ><label>&nbsp; Tocineta</label></div>
                <div class="checkbox"><input type="checkbox" ><label>&nbsp; Queso Cheddar</label></div>
              </ul>
              <br>
            </div>

            <div class="precio bg-dark text-white" style="margin-top: 3%; margin-bottom: 0; height: 100%; text-align: center;">
              <h5 style="display: inline-block; margin-bottom: 0; vertical-align: middle;">Bs.S 300</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="verPlato.hide()">
          Cerrar
        </button>
        <a [routerLink]="['/carrito']"><button type="submit" class="btn btn-danger"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">shopping_cart</i>
            Agregar al carrito
          </button></a>
      </div>
    </div>
  </div>
</div>

<app-piedepagina></app-piedepagina>
