<app-encabezado></app-encabezado>

<div id="menuprincipal">
  <div class="headerplato">
    <p>Entradas</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let entrada of entradas; index as i' (click)="verPlato.show(); mandarPlato(entrada);"><img
        src="{{entrada.imagen}}"></div>
  </div>
  <div class="headerplato">
    <p>Platos principales</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let principal of principales; index as i' (click)="verPlato.show(); mandarPlato(principal);"><img
        src="{{principal.imagen}}"></div>
  </div>
  <div class="headerplato">
    <p>Postres</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let postre of postres; index as i' (click)="verPlato.show(); mandarPlato(postre);"><img
        src="{{postre.imagen}}"></div>
  </div>
</div>

<!-- Modal de ver plato al hacer click en la imagen -->
<div bsModal #verPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{platoselect.nombre}}</h4>
        <button type="button" class="close pull-right" (click)="verPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img src="{{platoselect.imagen}}">
            </div>
          </div>
          <div class="col">
            <div class="descripcion">
              <h5>Descripción</h5>
              <label style="text-align:justify"> {{platoselect.descripcion}} </label>
              <div *ngIf="platoselect.personalizable">
                <h5>Extras:</h5>
                <div class="row">
                  <div class="col-md" style="border: 2px solid black; border-radius: 5px; text-align: center;">
                    <p style="border-bottom: 2px solid black">Disponibles</p>
                    <bs-sortable [(ngModel)]="noIncluido" name="noincluye" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                      placeholderItem="No hay más extras para agregar" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
                    </bs-sortable>

                  </div>
                  <div class="col-md" style="border: 2px solid black; border-radius: 5px; text-align: center;">
                    <p style="border-bottom: 2px solid black">Agregar</p>
                    <bs-sortable [(ngModel)]="incluido" name="incluye" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                      placeholderItem="Arrastra aquí para agregar" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
                  </div>
                </div>
              </div>
              <br>
              <h5 *ngIf="platoselect.personalizable">Precio Base</h5>
              <h5 *ngIf="!platoselect.personalizable">Precio</h5>
              <div class="precio bg-dark text-white" style="margin-top: 3%; margin-bottom: 0; height: 100%; text-align: center;">
                <h5 style="display: inline-block; margin-bottom: 0; vertical-align: middle;">Bs.S &nbsp;
                  {{platoselect.precio}}</h5>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="verPlato.hide()">
          Cerrar
        </button>
        <a [routerLink]="['/carrito']"><button type="submit" class="btn btn-danger"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">shopping_cart</i>
            Agregar al carrito
          </button></a>
      </div>
    </div>
  </div>
</div>

<app-piedepagina></app-piedepagina>