#menuprincipal{
    width: 70%;
    padding: 2% 0;
    display: block;
    margin: 0 auto;
}

.headerplato{
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/prueba3.jpg?alt=media&token=4bd8b6ab-f3d9-4dbc-aa5d-de145d14ce27');
    display: block;
    margin: 0 auto;
    position: relative;
}

.headerplato p{
    padding: 3%;
    color: white;
    font-size: 2vw;
}

.contenedorplato{
    width: 100%;
    text-align: center;
}

.plato{
    display: inline-block;
    width: 25%;
    margin: 3%;
}

.plato img{
    width: 100%;
}

.plato img:hover{
    opacity: 0.7;
    cursor: pointer;
}


a:hover{
    cursor: pointer;

}

.foto, .foto img{
    width: 100%;
}

.descripcion{
    padding: 4%;
    width: 100%;

}

.precio{
    padding: 2%;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
    background: darkslategray;
}


