<app-encabezado></app-encabezado>

<div id="menuprincipal">
  <div class="headerplato">
    <p>Entradas</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let entrada of entradas; index as i' (click)="verPlato.show(); mandarPlato(entrada);"><img
        src="{{entrada.imagen}}"></div>
  </div>
  <div class="headerplato">
    <p>Platos principales</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let principal of principales; index as i' (click)="verPlato.show(); mandarPlato(principal);"><img
        src="{{principal.imagen}}"></div>
  </div>
  <div class="headerplato">
    <p>Postres</p>
  </div>
  <div class="contenedorplato">
    <div class="plato" *ngFor='let postre of postres; index as i' (click)="verPlato.show(); mandarPlato(postre);"><img
        src="{{postre.imagen}}"></div>
  </div>
</div>

<!-- Modal de ver plato al hacer click en la imagen -->
<div bsModal #verPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{platoselect.nombre}}</h4>
        <button type="button" class="close pull-right" (click)="verPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img src="{{platoselect.imagen}}">
            </div>
          </div>
          <div class="col">
            <div class="descripcion">
              <h5>Descripción</h5>
              <label style="text-align:justify"> {{platoselect.descripcion}} </label>
              <div *ngIf="platoselect.personalizable">
                <h5>Extras:</h5>
                <div class="row">
                  <div class="col-md" style="border: 2px solid black; border-radius: 5px; text-align: center;">
                    <p style="border-bottom: 2px solid black">Disponibles</p>
                    <bs-sortable [(ngModel)]="noIncluido" name="noincluye" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                      placeholderItem="No hay más extras para agregar" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
                    </bs-sortable>

                  </div>
                  <div class="col-md" style="border: 2px solid black; border-radius: 5px; text-align: center;">
                    <p style="border-bottom: 2px solid black">Agregar</p>
                    <bs-sortable [(ngModel)]="incluido" name="incluye" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                      placeholderItem="Arrastra aquí para agregar" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
                  </div>
                </div>
              </div>
                <div class="form-group" style="vertical-align: middle;">
                  <h5>Cantidad</h5>
                  <input type="number" class="form-control bg-dark text-white"  value="{{platoselect.cantidad}}" min="1" max="99" style="width:20%; display: inline-block; margin-bottom: 2%;" disabled>
                  <button type="button" class="btn btn-danger" (click)="menosCantidad()">
                    <i class="material-icons md-18" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">remove</i>
                  </button>
                  <button type="button" class="btn btn-danger" style="margin-right:1%; height: 100%" (click)="masCantidad()">
                  <i class="material-icons md-18" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">add</i>
                  </button>
                </div>
              <h5>Subtotal</h5>
              <div class="precio bg-dark text-white" style="margin-top: 3%; margin-bottom: 0; height: 100%; text-align: center;">
                <h5 style="display: inline-block; margin-bottom: 0; vertical-align: middle;">Bs.S &nbsp;
                  {{preciocompleto()}}</h5>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="verPlato.hide()">
          Cerrar
        </button>
        <button *ngIf="platoselect.disponibilidad" type="submit" class="btn btn-danger" (click)="verPlato.hide(); agregarAlCarrito(); confirmacion.show();"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">shopping_cart</i>
          Agregar al carrito
        </button>
        <button *ngIf="!platoselect.disponibilidad" type="button" class="btn btn-warning" disabled>
            Plato No Disponible
        </button>

      </div>
    </div>
  </div>
</div>


<div bsModal #confirmacion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Confirmación</h4>
        <button type="button" class="close pull-right" (click)="confirmacion.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">Se ha agregado &nbsp;{{platoselect.nombre}} ({{platoselect.cantidad}}) al carrito</h5>
              <label>¿Qué desea hacer?</label>
            </div>
            <div id="alerta">
              <i class="material-icons md-48">alert</i>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="confirmacion.hide();">
          Volver al menú
        </button>
        <a [routerLink]="['/carrito']" routerLinkActive="router-link-active"><button type="submit" class="btn btn-danger" (click)="confirmacion.hide();">
          <i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">shopping_cart</i>
          Ir al carrito
        </button></a>

      </div>
    </div>

  </div>
</div>

<app-piedepagina></app-piedepagina>