<div id="fondo">
  <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/logo.png?alt=media&token=33880303-3c3e-468c-8fd2-caea026302e3">

  <carousel id="slider">
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/prueba1.jpg?alt=media&token=77065d8c-8652-4ffa-820b-c6edd380edde" alt="first slide" style="width: 100%;">
    </slide>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/prueba2.jpg?alt=media&token=fd2adc55-730c-4754-96c8-f28248ea8e59" alt="second slide" style="width: 100%;">
    </slide>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/prueba3.jpg?alt=media&token=4bd8b6ab-f3d9-4dbc-aa5d-de145d14ce27" alt="third slide" style="width: 100%;">
    </slide>
  </carousel>

  <ul>
    <li class="text" *ngFor="let p of prueba | async">
      {{ p.nombre }}
    </li>
  </ul>

  <div class="flex-container center">
    <a [routerLink]="['/login']"><button type="button" class="flex-item btn btn-danger" click="crearPlato()">Iniciar sesión</button></a>
    <a [routerLink]="['/registro']"><button type="button" class="flex-item btn btn-danger">Registrarse</button></a>
  </div>
  
</div>
