<div id="fondo">

    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/logo.png?alt=media&token=33880303-3c3e-468c-8fd2-caea026302e3">

    <div id="contenedorlog">
        <a [routerLink]="['/login']"><label class="selectores" style="border-bottom: 4px solid #000000; border-right: 4px solid #000000; border-radius: 0 0 5px 0;">Iniciar Sesión</label></a>
        <label class="selectores">Registrarse</label>
      <form name="formreg" #formreg="ngForm" (ngSubmit)="formreg.valid && crearUsuario()" novalidate>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" name="nombreU" #nombreU="ngModel" [(ngModel)]="usuario.nombre" [ngClass]="{ 'is-invalid': formreg.submitted && nombreU.invalid }" required>
            <div *ngIf="formreg.submitted" class="invalid-feedback">
              <div *ngIf="nombreU.errors != null && nombreU.errors.required">El usuario debe tener un nombre</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido" name="apellidoU" [(ngModel)]="usuario.apellido"  #apellidoU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && apellidoU.invalid }" required>
            <div *ngIf="formreg.submitted" class="invalid-feedback">
              <div *ngIf="apellidoU.errors != null && apellidoU.errors.required">El usuario debe tener un apellido</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSexo">Sexo</label>
          <select class="form-control" id="inputSexo" name="sexoU" [(ngModel)]="usuario.sexo" #sexoU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && sexoU.invalid }" required>
            <option value="" selected disabled hidden>Elija aquí</option>
            <option>Femenino</option>
            <option>Masculino</option>
            <option>Otro</option>
          </select>
          <div *ngIf="formreg.submitted" class="invalid-feedback">
            <div *ngIf="sexoU.errors != null && sexoU.errors.required">El usuario debe tener un sexo</div>
          </div>
        </div>
          <div class="form-group">
            <label for="inputEdad">Edad</label>
            <input type="text" class="form-control" id="inputEdad" placeholder="Ingrese su edad" name="edadU" [(ngModel)]="usuario.edad" #edadU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && edadU.invalid }" required>
            <div *ngIf="formreg.submitted" class="invalid-feedback">
              <div *ngIf="edadU.errors != null && edadU.errors.required">El usuario debe tener una edad</div>
            </div>
          </div>    
          <div class="form-group">
            <label for="inputUsuario">Usuario (email)</label>
            <input type="text" class="form-control" id="inputUsuario" placeholder="Ingrese su usuario" name="correoU" [(ngModel)]="usuario.correo" #correoU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && correoU.invalid }" required>
            <div *ngIf="formreg.submitted" class="invalid-feedback">
              <div *ngIf="correoU.errors != null && correoU.errors.required">El usuario debe tener un correo</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputContra">Contraseña</label>
              <input type="password" class="form-control" id="inputContra" placeholder="Ingrese su contraseña" name="contraU" #contraU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && contraU.invalid }" [(ngModel)]="password" required>
              <div *ngIf="formreg.submitted" class="invalid-feedback">
                <div *ngIf="contraU.touched && contraU.errors != null && contraU.errors.required">El usuario debe tener una contraseña</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputContra">Confirmar</label>
              <input type="password" appConfirmEqualValidator="contraU" class="form-control" id="inputConfirm" placeholder="Confirme su contraseña" name="confirmar" #confirmar="ngModel" compare="contraU" [ngClass]="{ 'is-invalid': formreg.submitted && confirmar.invalid }" [(ngModel)]="confirmpw" required>
              <div *ngIf="confirmar.invalid && (confirmar.dirty || confirmar.touched)" class="invalid-feedback">
                <div *ngIf="confirmar.errors != null && confirmar.errors.required">Debe confirmar la nueva contraseña</div>
                <div *ngIf="confirmar.errors != null && confirmar.errors.notEqual">Las contraseñas no coinciden</div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <div class="form-group">
            <label for="inputDireccion">Dirección</label>
            <textarea class="form-control" id="inputDireccion" rows="3" name="direccionU" [(ngModel)]="usuario.direccion" #direccionU="ngModel" [ngClass]="{ 'is-invalid': formreg.submitted && direccionU.invalid }" required></textarea>
            <div *ngIf="formreg.submitted" class="invalid-feedback">
              <div *ngIf="direccionU.errors != null && direccionU.errors.required">El usuario debe tener una direccion</div>
            </div>
          </div>
        </div>
        <div style="text-align: right;">
          <button type="reset" class="btn btn-warning" style="display: inline-block; margin-right: 10px;">Limpiar</button>
          <button type="submit" class="btn btn-danger" style="display: inline-block; margin-right: 0;">Ingresar</button>
        </div>
      </form>
    </div>
    <a [routerLink]="['/inicio']"><button type="submit" class="btn btn-dark" style="display: block; margin: 0 auto;">Regresar</button></a>
    
  </div>