<div id="fondo">

    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/logo.png?alt=media&token=33880303-3c3e-468c-8fd2-caea026302e3">

    <div id="contenedorlog">
        <a [routerLink]="['/login']"><label class="selectores" style="border-bottom: 4px solid #000000; border-right: 4px solid #000000; border-radius: 0 0 5px 0;">Iniciar Sesión</label></a>
        <label class="selectores">Registrarse</label>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" required> 
          </div>

          <div class="form-group col-md-6">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSexo">Sexo</label>
          <select class="form-control" id="inputSexo" required>
            <option value="" selected disabled hidden>Elija aquí</option>
            <option>Femenino</option>
            <option>Masculino</option>
            <option>Otro</option>
          </select>
        </div>
          <div class="form-group">
            <label for="inputEdad">Edad</label>
            <input type="text" class="form-control" id="inputEdad" placeholder="Ingrese su edad" required>
          </div>    
          <div class="form-group">
            <label for="inputUsuario">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario" placeholder="Ingrese su usuario" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputContra">Contraseña</label>
              <input type="password" class="form-control" id="inputContra" placeholder="Ingrese su contraseña" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputContra">Confirmar</label>
              <input type="password" class="form-control" id="inputConfirm" placeholder="Confirme su contraseña" required>
            </div>
          </div>
        <div class="form-group">
          <div class="form-group">
            <label for="inputDireccion">Dirección</label>
            <textarea class="form-control" id="inputDireccion" rows="3" required></textarea>
          </div>
        </div>
        <div style="text-align: right;">
          <button type="reset" class="btn btn-warning" style="display: inline-block; margin-right: 10px;">Limpiar</button>
          <button type="submit" class="btn btn-danger" style="display: inline-block; margin-right: 0;">Ingresar</button>
        </div>
      </form>
    </div>
    <a [routerLink]="['/inicio']"><button type="submit" class="btn btn-dark" style="display: block; margin: 0 auto;">Regresar</button></a>
    
  </div>