<app-encabezado></app-encabezado>
  <div id="contenido">
    <div class="descripcion">
      <h5 style="display:inline-block; margin-right: 2%;">Nombre:</h5>
      <label>Wicked Symphony</label>
      <h5>Descripción:</h5>
      <label style="text-align:justify"> Despite his busy lifestyle and another two world tours TOBIAS SAMMET 
          spent the few free weeks in 2008 and 2009 in the studio to work together with 
          producer Sascha Paeth on new AVANTASIA-material which is now in the form of the 
          albums ”The Wicked Symphony” and ”Angel Of Babylon” just before its release (April 3rd). 
      </label>
  </div>
  </div>
<app-piedepagina></app-piedepagina>