.contenido {
  width: 90%;
  margin: 2% auto;
}

#tablaitems {
  width: 100%;
}


#tablaitems table td,
#tablaitems table th,
#tablaitems table tr td,
#tablaitems table tr th {
  vertical-align: middle !important;
}

.colimg {
  width: 20%;
}

#tablaitems img {
  width: 60%;
}

accordion, #botonpers{
  margin: 3% auto;
  width: 100%
}

accordion-group:hover{
  cursor: pointer;
}

.foto{
  width:60%;
  margin: 0 auto;
}
.foto img{
  width:100%;
}

#alerta{
  display: block;
  margin:0 auto;
  width:40%;
}

#tablaPlatos i:hover, #tablaExtras i:hover{
  cursor: pointer;
}

#tablaPlatos, #tablaExtras{
  user-select: none; 
}
