<app-encabezadoadmin></app-encabezadoadmin>
<div class="contenido">
  <button class="btn btn-warning" (click)="agregarPlato.show()" style="display:block; margin-right:0; margin-left:auto"><i
      class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i></button>
  <div id="tablaitems">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Imagen</th>
          <th scope="col">Tipo<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Plato<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Extras<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Disponible<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Precio (Bs.S)<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th class="colimg"><img src="../../assets/iconoscomida/tequenos.png" alt="tequeños"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">local_dining</i></td>
          <td>Tequeños</td>
          <td>Frito</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>200</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/platanos.png" alt="patacones"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">local_dining</i></td>
          <td>Patacones</td>
          <td>Frito</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>200</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/empanada.png" alt="empanaditas"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">local_dining</i></td>
          <td>Empanaditas</td>
          <td>Frito</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>200</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/hamburguesa.png" alt="hamburguesa"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">fastfood</i></td>
          <td>Hamburguesa</td>
          <td>Queso Cheddar, Tocineta, Jalapeño</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>550</td>
          <td><button type="button" class="close" (click)="editarPlato.show()"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarPlato.show()" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/perro.png" alt="perro"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">fastfood</i></td>
          <td>Perro Caliente</td>
          <td>Queso Cheddar, Tocineta, Jalapeño</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>550</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/sandwich.png" alt="sandwich"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">fastfood</i></td>
          <td>Sandwich</td>
          <td>Queso Cheddar, Tocineta, Jalapeño</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>550</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">7</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/flan.png" alt="quesillo"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">cake</i></td>
          <td>Quesillo</td>
          <td>N/A</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>300</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">8</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/profiterol.png" alt="profiterol"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">cake</i></td>
          <td>Profiterol</td>
          <td>N/A</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>300</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>

        <tr>
          <th scope="row">9</th>
          <th class="colimg2"><img src="../../assets/iconoscomida/tresleches.png" alt="tresleches"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">cake</i></td>
          <td>Tres Leches</td>
          <td>N/A</td>
          <td><div class="checkbox"><input type="checkbox" value=""></div></td>
          <td>300</td>
          <td><button type="button" class="close"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarFilas(i)" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal agregar -->
<div bsModal #agregarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Agregar al menú</h4>
        <button type="button" class="close pull-right" (click)="agregarPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img src="../../assets/iconoscomida/hamburguesa.png">
            </div>
          </div>
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">Nombre</h5>
              <label>Hamburguesa</label>
              <h5>Descripción</h5>
              <label style="text-align:justify"> Nuestra deliciosa hamburguesa con carne, queso fundido,
                vegetales frescos y pan producido por uMakeIT!.
              </label>
              <button type="submit" id="botonpers" class="btn btn-danger" (click)="isFirstDisabled = !isFirstDisabled">
                Personalizable
              </button>
              <accordion>
                <accordion-group [isDisabled]="isFirstDisabled">
                  <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                    <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Agregar</div>
                    <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                  </button>
                  <div class="descripcion">
                    <h5>Extras:</h5>
                    <ul>
                      <li>Pan integral</li>
                      <li>Pan c/ parmesano y orégano</li>
                      <li>Queso Brie</li>
                      <li>Queso de Cabra</li>
                      <li>Jalapeño</li>
                      <li>Salsa BBQ</li>
                      <li>Tocineta</li>
                      <li>Cebolla caramelizada</li>
                    </ul>
                  </div>
                </accordion-group>
              </accordion>
              <br>
            </div>

            <div class="precio bg-dark text-white" style="margin-top: 3%; margin-bottom: 0; height: 100%; text-align: center;">
              <h5 style="display: inline-block; margin-bottom: 0; vertical-align: middle;">Bs.S 300</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="agregarPlato.hide()">
          Cerrar
        </button>
        <a [routerLink]="['/admin']"><button type="submit" class="btn btn-danger"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i>
            Agregar plato
          </button></a>
      </div>
    </div>
  </div>
</div>


<!-- Modal editar -->

<div bsModal #editarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Editar Plato</h4>
          <button type="button" class="close pull-right" (click)="editarPlato.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row align-items-start">
            <div class="col">
              <div class="foto">
                <img src="../../assets/iconoscomida/hamburguesa.png">
              </div>
            </div>
            <div class="col">
              <div class="descripcion">
                  <label for="inputNombre">Nombre</label>
                  <input type="text" class="form-control" id="inputNombre" placeholder="Hamburguesa"> 
                  <label for="inputDescripcion">Descripción</label>
                  <textarea type="text" class="form-control" id="inputDescripcion" placeholder="Nuestra deliciosa hamburguesa con carne, queso fundido,
                  vegetales frescos y pan producido por uMakeIT!."></textarea> 
                  <label for="inputPrecio">Precio(Bs.S)</label>
                  <input type="text" class="form-control" id="inputPrecio" placeholder="300"> 
                  <button type="submit" id="botonpers" class="btn btn-danger" (click)="isFirstDisabled = !isFirstDisabled">
                      Personalizable
                    </button>
                <accordion>
                  <accordion-group [isDisabled]="isFirstDisabled">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Agregar</div>
                      <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                    </button>
                    <div class="descripcion">
                      <h5>Extras:</h5>
                        <label><input type="checkbox">Pan integral </label>
                        <label><input type="checkbox">Pan c/ parmesano y orégano </label>
                        <label><input type="checkbox">Queso Brie </label>
                        <label><input type="checkbox">Queso de Cabra </label>
                        <label><input type="checkbox">Jalapeño </label>
                        <label><input type="checkbox">Salsa BBQ </label>
                        <label><input type="checkbox">Tocineta </label>
                        <label><input type="checkbox">Cebolla caramelizada </label>
                    </div>
                  </accordion-group>
                </accordion>
                <br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
            (click)="editarPlato.hide()">
            Cerrar
          </button>
          <a [routerLink]="['/admin']"><button type="submit" class="btn btn-danger" (click)="confirmacion.show()"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i>
              Actualizar
            </button></a>
        </div>
      </div>
    </div>
  </div>
   


  <!-- Modal eliminar cambios -->
<div bsModal #eliminarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Eliminar Plato</h4>
        <button type="button" class="close pull-right" (click)="eliminarPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">¿Desea eliminar la Hamburguesa?</h5>
            </div>
            <div id="alerta">
              <i class="material-icons md-48">alert</i>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="eliminarPlato.hide()">
          Cancelar
        </button>
        <a [routerLink]="['/admin']"><button type="submit" class="btn btn-danger" (click)="confirmacion.show()"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
            Confirmar
          </button></a>
      </div>
    </div>
  </div>
</div>
  

<!-- Modal confirmar cambios -->
<div bsModal #confirmacion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Confirmación</h4>
        <button type="button" class="close pull-right" (click)="confirmacion.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">¿Desea realizar los cambios?</h5>
            </div>
            <div id="alerta">
              <i class="material-icons md-48">alert</i>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="confirmacion.hide()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-danger" (click)="confirmacion.hide(); eliminarPlato.hide();"><i class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
            Confirmar
          </button>
      </div>
    </div>
  </div>
</div>



<app-piedepagina></app-piedepagina>