<app-encabezadoadmin></app-encabezadoadmin>
<div class="contenido">
  <button class="btn btn-warning" (click)="agregarPlato.show()" (click)="limpiarNPlato()" style="display:block; margin-right:0; margin-left:auto"><i
      class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i></button>
  <div id="tablaitems">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Imagen</th>
          <th scope="col">Tipo<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Plato<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Extras<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Disponible<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col">Precio (Bs.S)<i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">arrow_drop_down</i></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let plato of platos; index as i'>
          <th scope="row">{{ i+1 }}</th>
          <th class="colimg"><img src="{{ plato.imagen }}" alt="imagendelplato"></th>
          <td><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">local_dining</i></td>
          <td>{{ plato.nombre }}</td>
          <td>{{ plato.personalizable }}</td>
          <td>
            <div class="checkbox"><input type="checkbox" value=""></div>
          </td>
          <td>{{ plato.precio }}</td>
          <td><button type="button" class="close" (click)="editarPlato.show()"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">edit</i></button></td>
          <td><button type="button" class="close" (click)="eliminarPlato.show()" aria-label="Close"><i class="material-icons"
                style="vertical-align: middle; position: relative; text-align: center">close</i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal agregar -->
<div bsModal #agregarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Agregar al menú</h4>
        <button type="button" class="close pull-right" (click)="agregarPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img style="margin-top: 25%; margin-bottom: 25%;" src="{{imagenURL | async}}" *ngIf="uploaded">
              <img style="margin-top: 25%; margin-bottom: 25%;" src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/plato2.png?alt=media&token=3b1e37ab-b454-47ad-af29-e030aa44ae85" *ngIf="!uploaded">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" (change)="upload($event)" accept=".png">
                <div>{{ porcentajeUpload | async }}</div>
                <label class="custom-file-label" for="file">Subir imagen</label>
              </div>
            </div>
          </div>
          <div class="col">
            <form class="descripcion" (ngSubmit)="addPlato()">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del plato"
                  [(ngModel)]="nplato.nombre">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea rows="4" class="form-control" id="descripcion" placeholder="Ingrese la descripción del plato"
                  name="descripcion" [(ngModel)]="nplato.descripcion"></textarea>
              </div>

              <button type="button" id="botonpers" class="btn btn-danger" (click)="isFirstDisabled = !isFirstDisabled">
                Personalizable
              </button>
              <accordion>
                <accordion-group [isDisabled]="isFirstDisabled">
                  <button type="button" class="btn btn-link btn-block clearfix" accordion-heading>
                    <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                    <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Agregar</div>
                    <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                  </button>
                  <div class="descripcion">
                    <h5>Extras:</h5>
                    <ul>
                      <li>Pan integral</li>
                      <li>Pan c/ parmesano y orégano</li>
                      <li>Queso Brie</li>
                      <li>Queso de Cabra</li>
                      <li>Jalapeño</li>
                      <li>Salsa BBQ</li>
                      <li>Tocineta</li>
                      <li>Cebolla caramelizada</li>
                    </ul>
                  </div>
                </accordion-group>
              </accordion>
              <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" class="form-control bg-dark text-white" name="precio" placeholder="Ingrese el precio en Bs.S" style="display: inline-block; margin-bottom: 2%; vertical-align: middle;" [(ngModel)]="nplato.precio">
              </div>
              
              <button (click)="agregarPlato.hide()" type="submit" class="btn btn-danger"><i class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i>
                Agregar plato
              </button>

            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="agregarPlato.hide()">
          Cerrar
        </button>

      </div>
    </div>
  </div>
</div>


<!-- Modal editar -->

<div bsModal #editarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Editar Plato</h4>
        <button type="button" class="close pull-right" (click)="editarPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="foto">
              <img src="../../assets/iconoscomida/hamburguesa.png">
            </div>
          </div>
          <div class="col">
            <div class="descripcion">
              <label for="inputNombre">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" placeholder="Hamburguesa">
              <label for="inputDescripcion">Descripción</label>
              <textarea type="text" class="form-control" id="inputDescripcion">Nuestra deliciosa hamburguesa con carne, queso fundido, vegetales frescos y pan producido por uMakeIT!.</textarea>
              <label for="inputPrecio">Precio(Bs.S)</label>
              <input type="text" class="form-control" id="inputPrecio" placeholder="300">
              <button type="submit" id="botonpers" class="btn btn-danger" (click)="isFirstDisabled = !isFirstDisabled">
                Personalizable
              </button>
              <accordion>
                <accordion-group [isDisabled]="isFirstDisabled">
                  <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Agregar</div>
                    <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                  </button>
                  <div class="descripcion">
                    <h5>Extras:</h5>
                    <label><input type="checkbox">Pan integral </label>
                    <label><input type="checkbox">Pan c/ parmesano y orégano </label>
                    <label><input type="checkbox">Queso Brie </label>
                    <label><input type="checkbox">Queso de Cabra </label>
                    <label><input type="checkbox">Jalapeño </label>
                    <label><input type="checkbox">Salsa BBQ </label>
                    <label><input type="checkbox">Tocineta </label>
                    <label><input type="checkbox">Cebolla caramelizada </label>
                  </div>
                </accordion-group>
              </accordion>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="editarPlato.hide()">
          Cerrar
        </button>
        <a [routerLink]="['/admin']"><button type="submit" class="btn btn-danger" (click)="confirmacion.show()"><i
              class="material-icons" style="vertical-align: middle; position: relative; text-align: center">add</i>
            Actualizar
          </button></a>
      </div>
    </div>
  </div>
</div>


<!-- Modal eliminar cambios -->
<div bsModal #eliminarPlato="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog" style="width:70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Eliminar Plato</h4>
        <button type="button" class="close pull-right" (click)="eliminarPlato.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">¿Desea eliminar la Hamburguesa?</h5>
            </div>
            <div id="alerta">
              <i class="material-icons md-48">alert</i>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="eliminarPlato.hide()">
          Cancelar
        </button>
        <a [routerLink]="['/admin']"><button type="submit" class="btn btn-danger" (click)="confirmacion.show(); eliminarPlato.hide();"><i
              class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
            Confirmar
          </button></a>
      </div>
    </div>
  </div>
</div>


<!-- Modal confirmar cambios -->
<div bsModal #confirmacion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Confirmación</h4>
        <button type="button" class="close pull-right" (click)="confirmacion.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-start">
          <div class="col">
            <div class="descripcion">
              <h5 style="display:inline-block; margin-right: 2%;">¿Desea realizar los cambios?</h5>
            </div>
            <div id="alerta">
              <i class="material-icons md-48">alert</i>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="vertical-align: middle; margin-right: auto; color:white;"
          (click)="confirmacion.hide();">
          Cancelar
        </button>
        <button type="submit" class="btn btn-danger" (click)="confirmacion.hide(); eliminarPlato.hide(); editarPlato.hide();"><i
            class="material-icons" style="vertical-align: middle; margin-right: 2%; margin-left: auto;">check</i>
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>



<app-piedepagina></app-piedepagina>
