<app-encabezadoadmin></app-encabezadoadmin>
<div id="contenido">
    <h3>Historial de Pedidos</h3>
    <div class="pedido">
        <h3 style="display: inline-block; width: 50%; text-align: left;">Pedido #20141110638</h3>
        <h5 style="display: inline-block; width: 50%; text-align: right; vertical-align: top;">14/10/2018</h5>
        <div style="display: inline-block; width: 70%;">
        <accordion>
          <accordion-group>
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div style="display: inline-block; width: 50%; text-align: left">Entrada</div>
              <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
            </button>
            <accordion-group>
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                  <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                  <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Tequeños</div>
                  <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                </button>
                <div class="foto">
                  <img src="../../assets/prueba4.jpg">
                </div>
                <div class="descripcion">
                  <h5>Descripción:</h5>
                  <ul>
                    <li>Harina de trigo</li>
                    <li>Queso</li>
                    <li>Frito</li>
                    <li>Salsa de tomate</li>
                    <li>Mermelada</li>
                  </ul>
                </div>
              </accordion-group>
              <accordion-group>
                  <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                    <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Empanaditas</div>
                    <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                  </button>
                  <div class="foto">
                    <img src="../../assets/prueba4.jpg">
                  </div>
                  <div class="descripcion">
                    <h5>Descripción:</h5>
                    <ul>
                      <li>Fritas</li>
                      <li>Carne</li>
                      <li>Salsa de tomate</li>
                    </ul>
                  </div>
                </accordion-group>
          </accordion-group>
          <accordion-group>
              <button class="btn btn-link btn-block clearfix" accordion-heading>
                <div style="display: inline-block; width: 50%; text-align: left">Plato Principal</div>
                <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
              </button>
              <accordion-group>
                  <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                    <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Hamburguesa</div>
                    <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                  </button>
                  <div class="foto">
                    <img src="../../assets/prueba4.jpg">
                  </div>
                  <div class="descripcion">
                    <h5>Descripción:</h5>
                    <ul>
                      <li>Pan integral</li>
                      <li>200gr de carne</li>
                      <li>Queso</li>
                      <li>Salsa de tomate</li>
                      <li>Salsa de barbecue</li>
                    </ul>
                  </div>
                </accordion-group>
            </accordion-group>
            <accordion-group>
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                  <div style="display: inline-block; width: 50%; text-align: left">Postre</div>
                  <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                </button>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <img src="../../assets/prueba4.jpg" style="display: inline-block; width: 5%; border-radius: 100%">
                      <div style="display: inline-block; width: 45%; text-align: left; padding-left: 3%">Torta de Tres Leches</div>
                      <i class="material-icons" style="display: inline-block; width: 50%; text-align: right; vertical-align: middle;">arrow_drop_down</i>
                    </button>
                    <div class="foto">
                      <img src="../../assets/prueba4.jpg">
                    </div>
                    <div class="descripcion">
                      <h5>Descripción:</h5>
                      <ul>
                        <li>Leche descremada</li>
                      </ul>
                    </div>
                  </accordion-group>
              </accordion-group>
        </accordion>
        </div>
        <div style="display: inline-block; width: 30%;">
        </div>
      </div>
</div>
<app-piedepagina></app-piedepagina>