<div id="header" class="bg-warning">
  <div id="hizq">
      <a [routerLink]="['/admin']"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/umakeitbd.appspot.com/o/logo.png?alt=media&token=33880303-3c3e-468c-8fd2-caea026302e3"></a>
  </div>
  <div id="hder">
    <div class="btn-group" dropdown>
        <button id="botonname" type="button" class="btn btn-danger" [routerLink]="['/editar-perfil']">{{usuario.nombre}} {{usuario.apellido}}</button>
        <button id="button-split" type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">

        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admin']">Agregar al menu</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/pendientes']">Pedidos pendientes</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem" (click)="cerrarSesion()" class="dropdown-item">Cerrar sesión</li>
        </ul>
      </div>
  </div>
</div>
